* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    padding: 0px 20px;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.time{
    height: 100%;
}

.time h3{
    font-size: 10px;
}

.time  p{
    font-size: 8px;
}

.cart button{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: rgb(81, 207, 81);
}

.cart button i{
    margin-right: 5px;
}

.search {
    position: absolute;
}

.login{
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.login span{
    position: absolute;
    left: 18px;
  top: 7px;
}

.login button{
    width: 80px;
    border-radius: 8px;
    border: none;
}

.login input{
    height: 35px;
    width: 80%;
    border-radius: 8px;
    border: none;
    background-color: rgb(237, 236, 235);
    padding-left: 50px;
}

section{
    padding: 10px 30px;
}

.section1 img{
    width: 100%;
}

.section2{
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.section2 img {
width: 300px;
height: 180px;
}

.section3{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.section3 img{
    width: 100%;
}

.main-container{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
    padding: 10px 50px;
}

.heading-container{
    display: flex;
    justify-content: space-between;
}

.heading-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.product-1{
    width: 200px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.product-1 img{
    width: 90%;
}

.img-container{
    display: flex;
    justify-content: center;
}

.rupai-container{
    display: flex;
   align-items: center;
    justify-content: space-between;
}

.rupai-container button{
    width: 60px;
    height: 30px;
    border-radius: 6px;
    background-color:rgb(81, 207, 81);
    border: none;
}

.content{
    padding: 8px 10px;
}

.content img{
    width: 15px;
}

.productname{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* --------footer  */
.footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-container{

    width: 100%;
}
.footer-columns{
    display: flex;

}
.footer-column{
    display: flex;

}
.footer-section{

}
.footer-column li{
    list-style: none;


}
.footer-column a{
    text-decoration: none;
    color: #797676;
}

.last-part {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

.fotter-part {
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.fotter-part h3{
    height: 30px;
}

.fotter-part img {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    display: flex;
    justify-content: center;
}